Repository duplojs/zod-accelerator, changes with the labels that .github/labeler.yml gives for each.
All labels: package, github, wip, md

.github/labeler.yml:

package: 
  - "package.json"

github:
  - ".github/**/*"

wip:
  - "**/*"
  
md:
  - "README.md"

fix: bench
  benchmark/union.bench.ts
  package-lock.json
  package.json
Labels: package, wip

feat(43): rework async
  README.md
  scripts/accelerator.ts
  scripts/accelerators/branded.ts
  scripts/content.ts
  scripts/parser.ts
Labels: wip, md

feat(42): support also these witch don't have accelerator
  scripts/accelerator.ts
  scripts/accelerators/effects.ts
  scripts/accelerators/type.test.ts
  scripts/accelerators/type.ts
  scripts/index.ts
  scripts/utils/zodSchemaIsAsync.test.ts
  scripts/utils/zodSchemaIsAsync.ts
  vitest.config.js
Labels: wip

feat(47): rework error
  scripts/accelerator.ts
  scripts/accelerators/array.test.ts
  scripts/accelerators/bigInt.test.ts
  scripts/accelerators/boolean.test.ts
  scripts/accelerators/date.test.ts
  scripts/accelerators/default.test.ts
  scripts/accelerators/effects.test.ts
  scripts/accelerators/effects.ts
  scripts/accelerators/enum.test.ts
  scripts/accelerators/intersection.test.ts
  scripts/accelerators/intersection.ts
  scripts/accelerators/lazy.test.ts
  scripts/accelerators/lazy.ts
  scripts/accelerators/literal.test.ts
  scripts/accelerators/nan.test.ts
  scripts/accelerators/never.test.ts
  scripts/accelerators/null.test.ts
  scripts/accelerators/nullable.test.ts
  scripts/accelerators/number.test.ts
  scripts/accelerators/object.test.ts
  scripts/accelerators/optional.test.ts
  scripts/accelerators/record.test.ts
  scripts/accelerators/string.test.ts
  scripts/accelerators/symbol.test.ts
  scripts/accelerators/tuple.test.ts
  scripts/accelerators/type.test.ts
  scripts/accelerators/undefined.test.ts
  scripts/accelerators/union.test.ts
  scripts/accelerators/void.test.ts
  scripts/error.ts
Labels: wip

feat(50): support pipeline
  scripts/accelerators/pipeline.test.ts
  scripts/accelerators/pipeline.ts
  scripts/index.ts
Labels: wip

feat(53): add documentations
  README.md
  benchmarck-result.png
  scripts/accelerators/object.ts
  scripts/accelerators/record.test.ts
  scripts/accelerators/record.ts
  scripts/utils/shadowEval.ts
Labels: wip, md

fix: `.merge` results in Typescript error
  scripts/accelerator.ts
  scripts/accelerators/object.test.ts
Labels: wip

lint fix
  scripts/accelerators/object.test.ts
Labels: wip

fix: contributing
  CONTRIBUTING.md
  eslint.config.js
  package-lock.json
  package.json
  scripts/accelerators/intersection.ts
  scripts/utils/shadowEval.ts
  scripts/utils/zodSchemaIsAsync.test.ts
Labels: package, wip

fix(57): merge infinit error
  scripts/accelerator.ts
  scripts/accelerators/object.test.ts
Labels: wip

fix(62): protected accelerators to public
  scripts/accelerator.ts
  scripts/accelerators/type.ts
  scripts/index.ts
Labels: wip

fix(67): key include "return"
  .github/workflows/check-title.json
  .github/workflows/check-title.yml
  .github/workflows/develop@check-title.json
  .github/workflows/develop@computed-version.yml
  .github/workflows/develop@publisher.yml
  .github/workflows/main@check-title.json
  .github/workflows/main@publisher.yml
  .github/workflows/main@rename-pull-request.yml
  .github/workflows/publisher.yml
  .github/workflows/test.yml
  .husky/pre-push
  .vscode/settings.json
  package-lock.json
  package.json
  rollup.config.mjs
  scripts/accelerator.ts
  scripts/accelerators/bigInt.ts
  scripts/accelerators/branded.test.ts
  scripts/accelerators/branded.ts
  scripts/accelerators/catch.ts
  scripts/accelerators/date.ts
  scripts/accelerators/effects.ts
  scripts/accelerators/intersection.ts
  scripts/accelerators/nan.test.ts
  scripts/accelerators/nan.ts
  scripts/accelerators/number.ts
  scripts/accelerators/object.ts
  scripts/accelerators/string.ts
  scripts/accelerators/type.ts
  scripts/accelerators/union.test.ts
  scripts/accelerators/union.ts
  scripts/content.ts
  tsconfig.build.json
Labels: package, github, wip

fix(hf): export types
  package-lock.json
  package.json
  test/integration/index.test.ts
  test/integration/package.json
  test/integration/tsconfig.json
  vitest.config.js
Labels: package, wip

fix(hf): export ZodAcceleratorContent
  scripts/index.ts
  test/integration/index.test.ts
Labels: wip

break(70): continue
  package-lock.json
  package.json
  scripts/accelerateValue.ts
  scripts/accelerators/object.ts
  scripts/accelerators/string.ts
  scripts/build.ts
  scripts/override.ts
Labels: package, wip

feat: stopContext
  scripts/accelerateValue.ts
  scripts/build.ts
  scripts/getZodError.ts
  scripts/index.ts
  scripts/makers/index.ts
  scripts/makers/object.ts
  scripts/makers/string.ts
  scripts/types/predicate.ts
Labels: wip

fix: output
  scripts/accelerateValue.ts
  scripts/build.ts
  scripts/index.ts
  scripts/makers/object.ts
  scripts/makers/string.ts
Labels: wip

feat: finish string
  scripts/index.ts
  scripts/makers/string.ts
  scripts/override.ts
  scripts/types/predicate.ts
  scripts/types/zodTypeUnion.ts
Labels: wip

fix: point types field at published declarations
  package.json
Labels: package, wip

fix: point types field at published declarations
  package.json
Labels: package, wip
